*{ 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding: 0;
  margin: 0;
}


.nav{
    grid-area: nav;
    background-image: url(../img/pacman.gif);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 2rem;
    text-shadow: 5px 5px 5px black;
    color: #ff6b21;
    height: 6rem;
}

.aside{
    grid-area: aside;
    color: black;
    overflow: hidden;
    
}

.games{
    height: 5rem;
    background-image: url(../img/games.gif);
    background-size: cover;
    background-position: center center;
    animation: zoom 4s infinite;

}

.main{
    height: 70vh;
    overflow: scroll;
}

.footer{
    grid-area: footer;
    background-color: #D0581C;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 2rem;
}

.menu{
        display: none;
        text-shadow: 2px 2px 2px black;
}



button{
    background-color: #c08263;
    color: white;
    height: 50px;
    text-shadow: 2px 2px 2px black;
    margin: 1rem;
    border-radius: 8px;
    border: none;
}

button:hover{
    background-color: #D0581C;
    font-size: 1.2rem;

}

.productos{
    padding: 1rem 1rem;
    grid-area: menu;
    display:grid;
    gap: 1rem;
    background-color: #F1AC88;
}

.caja-producto{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #363231;
    text-align: center;
    gap: 1rem;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}

img{
    width: 150px;
    margin: auto;
    transition: 0.5s;
    object-fit: cover;
}

img:hover{
    transform: scale(1.5);
}

@media (min-width: 576px){
    body{
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-areas:
        "aside  nav"
        "menu   main"
        "menu   main"
        "menu   main"
        "footer footer";

        .nav{
            height: 8rem;
            min-width: 10rem;
            font-size: 2.7rem;
        }

        .aside{
            height: 8rem;
           
        }

        .games{
            height: 10rem;
            

        }
        .menu{
            grid-area: menu;
            display: flex;
            min-width: 9rem;
            height: auto;
            justify-content: center;
            list-style: none;
            padding-top: 2rem;
            background-color: #D0581C;
            text-align: center;
            color: white;
        }



       .productos{
            grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        }
        .main{
            height: 67vh;
        }
        .numero{
            padding: 1rem;
}
        .footer{
            height: auto;
            padding: 1rem;
        }

        ul {
            list-style-type: none;
        }

        li {
        margin: 0.5rem;
        }
        li:hover{
            transform: scale(1.5);
        }
    }
}

@keyframes zoom {
  0% {
    scale: 120%
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 120%;
  }
}

